<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Playground Shop</title>
    <link rel="stylesheet" href="/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Modak:400,900' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="bork">
        <div class="banner"><a href="/">Playground Shop</a></div>

        <div class="search">
        <form method="get" action="/search">
            <input id="q" name="q" type="text" placeholder="What are you looking for?"/>
            <input id="searchbtn" type="submit" value="🔎" />
        </form>
        </div>

        <div class="content">
            {{{body}}}
        </div>

    </div>
</body>
</html>
